{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    سبد خرید من
{% endblock title %}
    


{% block body %}
    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}
<input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="{% url 'product_module:products_page' %}"><i class="fa-solid fa-arrow-right-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">سبد خرید من</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler ms-2" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas">
          <div><span></span><span></span><span></span></div>
        </div>
      </div>
</div>
<div class="page-content-wrapper">
      <div class="container">
        <!-- Cart Wrapper-->
        {% if request.user.is_authenticated %}
            {% if order %}
                <div class="cart-wrapper-area py-3">
                <div class="cart-table card mb-3">
                    <div class="table-responsive card-body">
                    <table class="table mb-0">
                        {% if order.order_items.all %}
                            {% for order_item in order.order_items.all %}
                                <tr>
                                <input type="hidden" value="{{ order_item.id }}" id="order_item_id">
                                <th scope="row"><a class="remove-product" onclick="remove_order_item()"><i class="fa-solid fa-xmark"></i></a></th>
                                <td><img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}" title="{{ order_item.product.name }}"></td>
                                <td><a href="{% url 'product_module:product_detail_page' slug=order_item.product.slug %}" title="{{ order_item.product.name }}">{{ order_item.product.name|truncatechars:55 }}
                                    <span>{{ order_item.price|intcomma }} تومان ×  {{ order_item.count }} </span> </a> </td>
                                <td>
                                    <p>رنگ: {{ order_item.product_variant.color }}</p>
                                    <p>سایز: {{ order_item.product_variant.size }}</p>
                                </td>
                                <td>
                                    <div class="quantity">
                                    <input class="qty-text" type="number" value="{{ order_item.count }}" onchange="change_count_order_item(this)">
                                    </div>
                                </td>

                                </tr>
                            {% endfor %}
                        {% else %}
                        <div class="alert alert-info">
                            محصولی داخل سبد خرید شما وجود ندارد
                        </div>
                        {% endif %}
                    </table>
                    </div>
                </div>
                <!-- Coupon Area-->
                <div class="card coupon-card mb-3">
                    <div class="card-body">
                    <div class="apply-coupon">
                        {% if order.discounts_applied.all %}
                            {% for code in order.discounts_applied.all %}
                                <h6 class="mb-0">کد تخفیف اعمال شده شما: {{ code.discount_code }}</h6>
                                {% if code.discount_code.percent %}
                                    <p class="mb-2">کد تخفیف شما شامل {{ code.discount_code.percent }} درصد است</p>
                                    {% else %}
                                        <p class="mb-2">کد تخفیف شما شامل {{ code.discount_code.amount }} تومان می باشد</p>
                                {% endif %}
                                    <button class="btn btn-primary" type="button" onclick="discount_code_delete({{ order.id }}, '{{ code.discount_code }}')">حذف کد تخفیف</button>
                            {% endfor %}
                        {% else %}
                            <h6 class="mb-0">تخفیف دارید؟</h6>
                            <p class="mb-2">کد تخفیف خود را اینجا وارد کنید و از تخفیف های عالی استفاده کنید!</p>
                            <div class="coupon-form">
                                <input class="form-control" type="text" placeholder="SUHA30" id="discount_code">
                                <button class="btn btn-primary" type="button" onclick="discount_code_send({{ order.id }})">درخواست دادن</button>
                            </div>
                        {% endif %}

                    </div>
                    </div>
                </div>
                <!-- Cart Amount Area-->
                <div class="card cart-amount-area">
                    <div class="card-body d-flex align-items-center justify-content-between">
                    <h5 class="total-price mb-0"><span class="counter">{{ order.show_total_price|floatformat:2|intcomma }}</span> تومان</h5>
                    <a class="btn btn-warning" href="{% url 'cart_module:payment_order' order_id=order.id %}">پرداخت </a>
                    </div>
                </div>
                </div>
            {% else %}
                <div class="alert alert-info">
                شما سبد خریدی ندارید
            </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info">
                برای دیدن سبد خرید خود ابتدا بایستی لاگین باشید
            </div>
        {% endif %}
      </div>
    </div>
{% endblock body %}
{% block custom_footer_references %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock custom_footer_references %}
