{% extends 'base.html' %}
{% load static %}

{% block title %}
    تغییر کلمه عبور
{% endblock title %}
    


{% block body %}
{% if messages %}
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script>
    {% for message in messages %}
      Swal.fire({
        icon: "{{ message.tags }}",
        title: "{{ message }}",
        timer: 3500,
        timerProgressBar: true,
        //position:'top-left'
      });
    {% endfor %}
  </script>
{% endif %}
        <div class="page-content-wrapper">
      <div class="container">
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <div class="card user-info-card">
            <div class="card-body p-4 d-flex align-items-center">
              <div class="user-profile me-3">{% if user.avatar %}<img src="{{ user.avatar.url }}" alt="">{% else %}<img src="{% static 'img/bg-img/defualt_avatar.jpg' %}" alt="">{% endif %}</div>
              <div class="user-info">
                <p class="mb-0 text-dark">{% if user.email %}{{ user.email }}{% else %}{{ user.email }}{% endif %}</p>
                <h5 class="mb-0">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}</h5>
              </div>
            </div>
          </div>
          <!-- User Meta Data-->
          <div class="card user-data-card">
            <div class="card-body">
              <form action="{% url 'account_module:change_password_page' %}" method="POST">
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-key"></i><span>رمز عبور قدیمی</span></div>
                  <input class="form-control" type="password" name='current_password'>
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-key"></i><span>رمز عبور جدید</span></div>
                  <input class="input-psswd form-control" id="registerPassword" name='new_password' type="password" placeholder="کلمه عبور">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-key"></i><span>رمزعبور جدید را تکرار کنید</span></div>
                  <input class="form-control" type="password" name='confirm_new_password'>
                </div>
                {% csrf_token %}
                <button class="btn btn-success w-100" type="submit">رمزعبور را به روز کنید</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
    