{% extends 'base.html' %}
{% load static %}

{% block title %}
    ویرایش نمایه
{% endblock title %}
    


{% block body %}
{% if messages %}
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script>
    {% for message in messages %}
      Swal.fire({
        icon: "{{ message.tags }}",
        title: "{{ message }}",
        timer: 3500,
        timerProgressBar: true,
        //position:'top-left'
      });
    {% endfor %}
  </script>
{% endif %}
        <div class="page-content-wrapper">
      <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <div class="card user-info-card">
            <div class="card-body p-4 d-flex align-items-center">
              <div class="user-profile me-3"><img src="{% static 'img/bg-img/defualt_avatar.jpg' %}" alt="">
                <div class="change-user-thumb">
                  <form>
                    <input class="form-control-file" type="file">
                    <button><i class="fa-solid fa-pen"></i></button>
                  </form>
                </div>
              </div>
              <div class="user-info">
                <p class="mb-0 text-dark">{{ user.email }}</p>
                <h5 class="mb-0">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</h5>
              </div>
            </div>
          </div>
          <!-- User Meta Data-->
          <div class="card user-data-card">
            <div class="card-body">
              <form action="{% url 'account_module:edit_profile_page' %}" method="POST">
                {% comment %} <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-at"></i><span>نام کاربری</span></div>
                  <input class="form-control" type="text" value="طراحی جهان" disabled>
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-user"></i><span>نام</span></div>
                  <input class="form-control" type="text" value="سوها جانات">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-user"></i><span>نام خانوادگی</span></div>
                  <input class="form-control" type="text" value="سوها جانات">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-phone"></i><span>تلفن</span></div>
                  <input class="form-control" type="text" value="09123456789">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-envelope"></i><span>آدرس ایمیل</span></div>
                  <input class="form-control" type="email" value="care@example.com">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="fa-solid fa-location-arrow"></i><span>آدرس حمل و نقل</span></div>
                  <input class="form-control" type="text" value="تهران - ونک">
                </div> {% endcomment %}
                {% for item in form %}
                    <div class="mb-3">
                        <div class="title mb-2"><i class="fa-solid fa-location-arrow"></i><span>{{ item.label_tag }}</span></div>
                        {{ item }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button class="btn btn-success w-100" type="submit">همه تغییرات را ذخیره کنید</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
    