{% extends 'base.html' %}
{% load static %}


{% block title %}
    پروفایل
{% endblock title %}



{% block body %}
    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}
        <div class="page-content-wrapper">
      <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <div class="card user-info-card">
            <div class="card-body p-4 d-flex align-items-center">
              <div class="user-profile me-3">
              {% if user.avatar %}<img src="{{ user.avatar.url }}" alt="">{% else %}<img src="{% static 'img/bg-img/defualt_avatar.jpg' %}" alt="">{% endif %}
                </div>
              <div class="user-info">
                <p class="mb-0 text-dark">{% if user.username %}{{ user.username }}{% else %}خالی{% endif %}</p>
                <h5 class="mb-0">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.email }}{% endif %}</h5>
              </div>
            </div>
          </div>
          <!-- User Meta Data-->
          <div class="card user-data-card">
            <div class="card-body">
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-at"></i><span>نام کاربری</span></div>
                <div class="data-content">{% if user.username %}{{ user.username }}{% else %}خالی{% endif %}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-user"></i><span>نام و نام خانوادگی</span></div>
                <div class="data-content">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}خالی{% endif %}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-phone"></i><span>تلفن</span></div>
                <div class="data-content">{% if user.phone %}{{ user.phone }}{% else %}خالی{% endif %}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-envelope"></i><span>پست الکترونیک</span></div>
                <div class="data-content">{% if user.email %}{{ user.email }}{% else %}خالی{% endif %}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-location-dot"></i><span>آدرس حمل و نقل</span></div>
                <div class="data-content">{% if user.address %}{{ user.address }}{% else %}خالی{% endif %}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="fa-solid fa-star"></i><span>وضعیت سفارش</span></div>
                <div class="data-content"><a class="btn btn-success btn-sm" href="{% url 'car_module:status_order_page' %}">مشاهده</a></div>
              </div>
              <!-- Edit Profile-->
              <div class="edit-profile-btn mt-3"><a class="btn btn-primary w-100" href="{% url 'account_module:edit_profile_page' %}"><i class="fa-solid fa-pen me-2"></i>نمایه ویرایش</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
    