{% extends 'base.html' %}
{% load static %}


{% block title %}
    بازیابی کلمه عبور
{% endblock title %}
    


{% block body %}
            <!-- Login Wrapper Area-->
    <div class="login-wrapper d-flex align-items-center justify-content-center text-center">               
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8"><img class="big-logo" src="{% static 'img/core-img/logo-white.png' %}" alt="">
            <!-- Register Form-->
            <div class="register-form mt-5">
              <form action="{% url 'account_module:reset_password_page' email_active_code=user_email_active_code %}" method="POST">
                <div class="form-group text-start mb-4"><span>کلمه عبور</span>
                  <label for="registerPassword"><i class="fa-solid fa-key"></i></label>
                  <input class="input-psswd form-control" id="registerPassword" name='password' type="password" placeholder="aaaa4444">
                </div>
                <div class="form-group text-start mb-4"><span>تکرار کلمه عبور</span>
                  <label for="registerPassword"><i class="fa-solid fa-key"></i></label>
                  <input class="input-psswd form-control" id="registerPassword" name='confirm_password' type="password" placeholder="aaaa4444">
                </div>
                {% csrf_token %}
                <button class="btn btn-warning btn-lg w-100" type="submit">بازیابی</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}