{% extends 'base.html' %}


{% block title %}
    تنظیمات
{% endblock title %}
    

{% block body %}
{% if messages %}
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script>
    {% for message in messages %}
      Swal.fire({
        icon: "{{ message.tags }}",
        title: "{{ message }}",
        timer: 3500,
        timerProgressBar: true,
        //position:'top-left'
      });
    {% endfor %}
  </script>
{% endif %}
        <div class="page-content-wrapper">
      <div class="container">
        <div class="settings-wrapper py-3">
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-moon"></i><span>حالت شب</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" id="darkSwitch" type="checkbox">
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-paragraph"></i><span>حالت چپ چین</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" id="rtlSwitch" type="checkbox">
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-circle-check"></i><span>دسترسی</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" type="checkbox" checked>
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-bell"></i><span>اطلاعیه</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" type="checkbox" checked>
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-language"></i><span>زبان</span></div>
                <div class="data-content"><a href="language.html">انگلیسی<i class="fa-solid fa-angle-left"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-circle-question"></i><span>پشتیبانی</span></div>
                <div class="data-content"><a href="{% url 'support_name:support_page' %}">کمک بگیر<i class="fa-solid fa-angle-left"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-shield"></i><span>سیاست حفظ حریم خصوصی</span></div>
                <div class="data-content"><a href="privacy-policy.html">چشم انداز<i class="fa-solid fa-angle-left"></i></a></div>
              </div>
            </div>
          </div>
          
          {% if request.user.is_authenticated %}     
            <!-- Single Setting Card-->
            <div class="card settings-card">
                <div class="card-body">
                <!-- Single Settings-->
                <div class="single-settings d-flex align-items-center justify-content-between">
                    <div class="title"><i class="fa-solid fa-key"></i><span>کلمه عبور<!--<span>به روز شده 1 ماه پیش</span> --></span></div>
                    <div class="data-content"><a href="{% url 'account_module:change_password_page' %}">تغییر دادن<i class="fa-solid fa-angle-left"></i></a></div>
                </div>
                </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock body %}