{% extends 'base.html' %}
{% load static %}

{% block title %}
    تنظیمات
{% endblock title %}
    

{% block body %}
    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}
        <div class="page-content-wrapper">
      <div class="container">
        <div class="settings-wrapper py-3">
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-moon"></i><span>حالت شب</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" id="darkSwitch" type="checkbox">
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-circle-question"></i><span>پشتیبانی</span></div>
                <div class="data-content"><a href="{% url 'support_module:support_page' %}">کمک بگیر<i class="fa-solid fa-angle-left"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-shield"></i><span>سیاست حفظ حریم خصوصی</span></div>
                <div class="data-content"><a href="{% url 'about_module:privacy_policy_page' %}">چشم انداز<i class="fa-solid fa-angle-left"></i></a></div>
              </div>
            </div>
          </div>
          
          {% if request.user.is_authenticated %}     
            <!-- Single Setting Card-->
            <div class="card settings-card">
                <div class="card-body">
                <!-- Single Settings-->
                <div class="single-settings d-flex align-items-center justify-content-between">
                    <div class="title"><i class="fa-solid fa-key"></i><span>کلمه عبور</span></div>
                    <div class="data-content"><a href="{% url 'account_module:change_password_page' %}">تغییر دادن<i class="fa-solid fa-angle-left"></i></a></div>
                </div>
                </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock body %}