{% extends 'base.html' %}
{% load products_tags %}
{% load humanize %}
{% load static %}


{% block title %}
    علاقه مندی ها
{% endblock title %}

{% partialdef single_product_like %}
            <!-- Product Card -->
            <div class="col-6 col-md-4">
              <div class="card product-card">
                    <div class="card-body">
      {% if product.discount %}
        <!-- Badge--><span class="badge rounded-pill badge-warning">{{ product.discount }}%</span>
        {% else %}
          {% if product.product.created_at > old_time %}
            <!-- Badge--><span class="badge rounded-pill badge-warning"> فروش</span>
          {% endif %}
      {% endif %}      
      <!-- Thumbnail --><a class="product-thumbnail d-block" href="{% url 'product_module:product_detail_page' slug=product.product.slug %}"><img class="mb-2" src="{{ product.product.image.url }}" alt="{{ product.product.name }}" title="{{ product.product.name }}">
      <!-- Product Title --><a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.product.slug %}" alt="{{ product.product.name }}" title="{{ product.product.name }}">{{ product.product.name|truncatechars:17 }}</a>
      <!-- Product Price -->
      <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.product.price|intcomma }} تومان <span>{{ product.product.price|intcomma  }} تومان</span> {% else %}{{ product.product.price|intcomma }} تومان{% endif %}</p>
      <!-- Rating -->
{% show_rating_products rating=product.rating %}
      <!-- Add to Cart -->
      <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <button class="btn btn-success btn-sm" type="button" onclick="delete_product_to_likes({{ product.id }})"><i class="fa-solid fa-minus"></i></button>
    </div>
              </div>
            </div>
{% endpartialdef single_product_like %}

{% block body %}

    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}

        <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="{% url 'home_module:home_page' %}"><i class="fa-solid fa-arrow-right-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">علاقه مندی ها</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler ms-2" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas">
          <div><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper">
      <div class="py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between rtl-flex-d-row-r">
            <h6>علاقه مندی ها ({{ count_likes }})</h6>
          </div>
          <div class="row g-2 rtl-flex-d-row-r">
            {% if request.user.is_authenticated %}
              {% for product in likes_products %}
                {% partial single_product_like %}
              {% empty %}
                <div class="alert alert-warning">
                   محصول مورد علاقه ای وجود ندارد
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                <p>شما وارد حساب کاربری خود نشده اید</p>
                <a href="{% url 'account_module:login_page' %}" class="">ورود به حساب کاربری</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock body %}


{% block custom_footer_references %}
    <script src="{% static 'js/products_like.js' %}"></script>
{% endblock custom_footer_references %}