    <!-- Footer Nav-->
    <div class="footer-nav-area" id="footerNav">
      <div class="suha-footer-nav">
        <ul class="h-100 d-flex align-items-center justify-content-between ps-0 d-flex rtl-flex-d-row-r">
           <li><a href="{% url 'home_module:home_page' %}"><i class="fa-solid fa-house"></i>خانه</a></li>
          <li><a href="message.html"><i class="fa-solid fa-comment-dots"></i>گپ</a></li>
          <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i>سبد خرید</a></li>
          <li><a href="{% url 'account_module:settings_page' %}"><i class="fa-solid fa-gear"></i>تنظیمات</a></li>
          <li><a href="pages.html"><i class="fa-solid fa-heart"></i>صفحات</a></li>
        </ul>
      </div>
    </div>