{% extends 'base.html' %}
{% load static %}
{% load products_tags %}
{% load humanize %}
{% load thumbnail %}

{% block title %}
    خانه
{% endblock title %}

{% block body %}


    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}

    <div class="page-content-wrapper">
      <!-- Search Form-->
      <!-- Search Form-->
      <div class="container">
        <div class="search-form pt-3 rtl-flex-d-row-r">
          <form action="{% url 'product_module:products_page' %}" method="get" class="ms-3">
            <input class="form-control" type="search" name="search" placeholder="جستجو کردن">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
      <!-- Hero Wrapper -->
      <div class="hero-wrapper">
        <div class="container">
          <div class="pt-3">
            <div class="hero-slides owl-carousel">
              {% for baner in baners %}
              <!-- Single Hero Slide-->
              <div class="single-hero-slide" style="background-image: url({{ baner.image.url }})">
                <div class="slide-content h-100 d-flex align-items-center">
                  <div class="slide-text">
                    <h4 class="text-white mb-0" data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms">{{ baner.title }}</h4>
                    <p class="text-white" data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms">{{ baner.description }}</p><a class="btn btn-primary" href="{{ baner.url_btn }}" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms">{{ baner.text_in_btn }}</a>
                  </div>
                </div>
              </div>
              {% empty %}
              <div class="alert alert-warning">
                چیزی برای بنر وجود ندارد
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Product Brnad -->
      <div class="product-catagories-wrapper py-3">
        <div class="container">
            <div class="collection-slide owl-carousel">
            {% for brand in brands %}
            <!-- Collection Card-->
            <div class="card collection-card">
              <a href="{% url 'product_module:products_by_brand_page' brand_url=brand.url %}">
                <img src="{{ brand.image.url }}" alt="{{ brnad.name }}">
              </a>
              <div class="collection-title"><span>{{ brand.name }}</span></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Featured Products Wrapper-->
      <div class="featured-products-wrapper py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl">
            <h6>بالاترین امتیاز</h6><a class="btn p-0" href="{% url 'product_module:products_page' %}?order_by=بالاترین+امتیاز">مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <div class="row g-2">
            {% for product in high_rating_products %}
            <!-- Product Card -->
            <div class="col-6 col-md-4">
            <div class="card product-card">
              <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>  
                <!-- Wishlist Button--><a class="wishlist-btn" onclick="add_product_to_likes({{ product.id }})"><i class="lni lni-heart" ></i></a>
                <!-- Thumbnail --><a class="product-thumbnail d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}"><img class="mb-2" src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}"><a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}" alt="{{ product.name }}" title="{{ product.name }}">{{ product.name|truncatechars:17 }}</a>
                <!-- Product Price -->
                <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
                <!-- Rating -->
                      <!-- Rating -->
{% show_rating_products rating=product.rating %}
                <!-- Add to Cart -->
                <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button class="btn btn-success btn-sm" onclick="add_product_to_likes({{ product.id }})"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            </div>
            {% empty %}
            <div class="alert alert-warning">محصولی وجود ندارد که امتیازی داشته باشد</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Dark Mode -->
      <div class="container">
        <div class="dark-mode-wrapper mt-3 bg-img p-4 p-lg-5">
          <p class="text-white">با استفاده از حالت تاریک می توانید صفحه نمایش خود را به یک پس زمینه تاریک تغییر دهید.</p>
          <div class="form-check form-switch mb-0">
            <label class="form-check-label text-white h6 mb-0" for="darkSwitch">به حالت تاریک بروید</label>
            <input class="form-check-input" id="darkSwitch" type="checkbox" role="switch">
          </div>
        </div>
      </div>
      <!-- Top Products -->
      <div class="top-products-area py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl">
            <h6>محصولات تخفیف دار</h6><a class="btn p-0" href="{% url 'product_module:products_discount_page' %}">مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <div class="row g-2">
            {% for product in products_discount %}
            <!-- Product Card -->
            <div class="col-6 col-md-4">
            <div class="card product-card">
              <div class="card-body">
                {% if product.discount %}
                  <!-- Badge--><span class="badge rounded-pill badge-warning">{{ product.discount }}%</span>
                {% endif %}      
                <!-- Wishlist Button--><a class="wishlist-btn" onclick="add_product_to_likes({{ product.id }})"><i class="lni lni-heart"></i></a>
                <!-- Thumbnail --><a class="product-thumbnail d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}"><img class="mb-2" src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}">
                  <a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}" alt="{{ product.name }}" title="{{ product.name }}">{{ product.name|truncatechars:17 }}</a>
                <!-- Product Price -->
                <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
                <!-- Rating -->
{% show_rating_products rating=product.rating %}
                <!-- Add to Cart -->
                <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button class="btn btn-success btn-sm" onclick="add_product_to_likes({{ product.id }})"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            </div>
            {% empty %}
              <div class="alert alert-warning">محصولی وجود ندارد</div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if elan_top %}
        <div class="container">
        <div class="{% if not elan_top.image %}discount-coupon-card{% endif %} p-4 p-lg-5 dir-rtl" 
        {% if elan_top.image %}
        style="background-image: url('{{ elan_top.image.url }}');"
        {% endif %}>
          <div class="d-flex align-items-center">
            {% if elan_top.image_in_elan %}
              <div class="discountIcon"><img class="w-100" src="{{ elan_top.image_in_elan.url }}" alt=""></div>
            {% endif %}
            <div class="text-content">
              <h4 class="text-white mb-1">{{ elan_top.title }}</h4>
              <p class="text-white mb-2">{{ elan_top.description }}</p>
              {% if elan_top.text_in_btn and elan_top.url_btn %}
                <a class="btn btn-warning" href="{{ elan_top.url_btn }}">{{ elan_top.text_in_btn }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Weekly Best Sellers-->
      <div class="weekly-best-seller-area py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl">
            <h6>پرفروش ترین ها</h6><a class="btn p-0" href="{% url 'product_module:products_page' %}?order_by=پرفروش ترین">
               مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <div class="row g-2">
            {% for product in products_sales_week %}
              <div class="col-12">
                <div class="horizontal-product-card">
                  <div class="d-flex align-items-center">
                    <div class="product-thumbnail-side">
                      <!-- Thumbnail --><a class="product-thumbnail shadow-sm d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}"><img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}"></a>
                    </div>
                    <div class="product-description">
                      <!-- Wishlist  --><a class="wishlist-btn" type="button" onclick="add_product_to_likes({{ product.id }})"><i class="fa-solid fa-heart"></i></a>
                      <!-- Product Title --><a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}" alt="{{ product.name }}" title="{{ product.name }}">{{ product.name|truncatechars:50 }}</a>
                      <!-- Price -->
                      <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
                      <!-- Rating -->
                      <div class="product-rating" alt="{{ product.rating|floatformat:2 }}" title="{{ product.rating|floatformat:2 }}">
                        {% if product.rating %}
                          امتیاز: {{ product.rating|floatformat:2 }}
                        {% endif %} 
                        <span class="ms-1">({{ product.sales_count }} فروش)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <div class="alert alert-warning">
                محصولی وجود ندارد
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Discount Coupon Card-->
      {% if elan_buttom %}
        <div class="container">
        <div class="{% if not elan_buttom.image %}discount-coupon-card{% endif %} p-4 p-lg-5 dir-rtl" 
        {% if elan_buttom.image %}
        style="background-image: url('{{ elan_buttom.image.url }}');"
        {% endif %}>
          <div class="d-flex align-items-center">
            {% if elan_buttom.image_in_elan %}
              <div class="discountIcon"><img class="w-100" src="{{ elan_buttom.image_in_elan.url }}" alt=""></div>
            {% endif %}
            <div class="text-content">
              <h4 class="text-white mb-1">{{ elan_buttom.title }}</h4>
              <p class="text-white mb-2">{{ elan_buttom.description }}</p>
              {% if elan_buttom.text_in_btn and elan_buttom.url_btn %}
                <a class="btn btn-warning" href="{{ elan_buttom.url_btn }}">{{ elan_buttom.text_in_btn }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Featured Products Wrapper-->
      <div class="featured-products-wrapper py-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl">
            <h6>محصولات جدید</h6><a class="btn p-0" href="{% url 'product_module:products_page' %}?order_by=جدیدترین">مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <div class="row g-2">
            {% for product in products_new %}
            <!-- Product Card -->
            <div class="col-6 col-md-4">
            <div class="card product-card">
              <div class="card-body">
                  <!-- Badge--><span class="badge rounded-pill badge-warning">جدید</span>  
                <!-- Wishlist Button--><a class="wishlist-btn" onclick="add_product_to_likes({{ product.id }})"><i class="lni lni-heart"></i></a>
                <!-- Thumbnail --><a class="product-thumbnail d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}"><img class="mb-2" src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}"><a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}" alt="{{ product.name }}" title="{{ product.name }}">{{ product.name|truncatechars:17 }}</a>
                <!-- Product Price -->
                <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
                      <!-- Rating -->
{% show_rating_products rating=product.rating %}
                <!-- Add to Cart -->
                <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button class="btn btn-success btn-sm" onclick="add_product_to_likes({{ product.id }})"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
            </div>
            {% empty %}
            <div class="alert alert-warning">محصولی وجود ندارد</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pb-3">
        <div class="container">
          <div class="section-heading d-flex align-items-center justify-content-between dir-rtl">
            <h6>دسته بندی ها</h6><a class="btn p-0" href="{% url 'product_module:products_page' %}">
               مشاهده همه<i class="ms-1 fa-solid fa-arrow-left-long"></i></a>
          </div>
          <!-- Collection Slide-->
          <div class="collection-slide owl-carousel">
            {% for category in categories %}
            <!-- Collection Card-->
            <div class="card collection-card">
              <a href="{% url 'product_module:products_by_category_page' category_url=category.url %}">
                {% thumbnail category.image "138x145" crop="center" quality=85 as im %}
                  <img src="{{ im.url }}" alt="{{ category.name }}">
                {% endthumbnail %}
              </a>
              <div class="collection-title"><span>{{ category.name }}</span><span class="badge bg-danger">{{ category.count_products }}</span></div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock body %}
{% block custom_footer_references %}
    <script src="{% static 'js/products_like.js' %}"></script>
{% endblock custom_footer_references %}