<!-- Single User Review -->
<li class="single-user-review d-flex">
    <div class="user-thumbnail"><img src="img/bg-img/7.jpg" alt=""></div>
    <div class="rating-comment">
    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-sofa-star"></i><i class="fa-solid fa-star"></i></div>
    <p class="comment mb-0">محصول بسیار خوبی !</p><span class="name-date">طراحی جهان 12 تیر 1401</span><a class="review-image mt-2 borrounded" href="img/product/3.png"><img class="rounded-3" src="img/product/3.png" alt=""></a>
    </div>
</li>