{% load static %}
{% load jformat %}

{% for comment in comments %}
<!-- Single User Review -->
<li class="single-user-review d-flex">
    <div class="user-thumbnail">
        {% if coment.user.avatar %}<img src="{{ comment.user.avatar.url }}" alt="">
        {% else %}
        <img src="{% static 'img/bg-img/defualt_avatar.jpg' %}" alt="">
        {% endif %}
    </div>
    <div class="rating-comment">
    <div class="rating">امتیاز {{ comment.rating }}</div>
    <p class="comment mb-0">{{ comment.message }}</p><span class="name-date">{{ comment.created_at|jformat:"%H:%M %Y/%m/%d"}}
        {% if comment.user.username %}{{ comment.user }}
        {% else %}{{ comment.user.email }}{% endif %}</span>
    </div>
</li>
{% empty %}
<div class="alert alert-info mt-3">
    کامنتی برای این محصول وجود ندارد
</div>
{% endfor %}