{% load static %}

{% for comment in comments %}
<!-- Single User Review -->
<li class="single-user-review d-flex">
    <div class="user-thumbnail">
        {% if coment.user.avatar %}<img src="{{ comment.user.avatar.url }}" alt="">
        {% else %}
        <img src="{% static 'img/bg-img/defualt_avatar.jpg' %}" alt="">
        {% endif %}
    </div>
    <div class="rating-comment">
    <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-sofa-star"></i><i class="fa-solid fa-star"></i></div>
    <p class="comment mb-0">{{ comment.message }}</p><span class="name-date">{% if comment.user.username %}{{ comment.user }}
        {% else %}{{ comment.user.email }}{% endif %}
    </div>
</li>
{% empty %}
<div class="alert alert-info">
    کامنتی برای این محصول وجود ندارد
</div>
{% endfor %}