{% extends 'base.html' %}
{% load humanize %}
{% load products_tags %}
{% load static %}


{% block title %}
    محصولات
{% endblock title %}
    


{% block body %}
        <div class="page-content-wrapper">
      <div class="py-3">
        <div class="container">
          <div class="row g-1 align-items-center rtl-flex-d-row-r">
            <div class="col-8">
              <!-- Product Catagories Slide -->
              <div class="product-catagories owl-carousel catagory-slides">
                {% for category in categories %}
                <a class="shadow-sm" href="#"> {{ category.name }} <img src="{{ category.image.url }}" alt=""></a>
                {% endfor %}
              </div>
            </div>
            <div class="col-4">
              <!-- Select Product Catagory-->
              <div class="select-product-catagory">
                <select class="right small border-0" id="selectProductCatagory" name="selectProductCatagory" aria-label="Default select example">
                  <option selected>براساس</option>
                  <option value="new_prdoucts">جدیدترین</option>
                  <option value="old_products">قدیمی ترین</option>
                  <option value="high_price">بیشترین قیمت</option>
                  <option value="low_price">کمترین قیمت</option>
                  <option value="discount">تخفیف دار</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3"></div>
          <div class="row g-2 rtl-flex-d-row-r">

            {% for product in products %}
                        <!-- Product Card -->
            <div class="col-6 col-md-4">
              <div class="card product-card">
                <div class="card-body">
                    {% if product.discount %}
                        <!-- Badge--><span class="badge rounded-pill badge-warning">{{ product.discount }}%</span>
                    {% else %}
                        {% if product.created_at > old_time %}
                            <!-- Badge--><span class="badge rounded-pill badge-warning"> فروش</span>
                        {% endif %}
                    {% endif %}

                        
                  <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
                  <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img class="mb-2" src="{{ product.image.url }}" alt="">
                  {% comment %} <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
                  <ul class="offer-countdown-timer d-flex align-items-center shadow-sm" data-countdown="2023/12/31 23:59:59">
                    <li><span class="days">0</span>ر</li>
                    <li><span class="hours">0</span>س</li>
                    <li><span class="minutes">0</span>د</li>
                    <li><span class="seconds">0</span>ث</li>
                  </ul></a> {% endcomment %}
                  <!-- Product Title --><a class="product-title d-block" href="single-product.html">{{ product.name|truncatechars:20 }}</a>
                  <!-- Product Price -->
                  <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
                  <!-- Rating -->
                  <div class="product-rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                  <!-- Add to Cart --><a class="btn btn-success btn-sm" href="#"><i class="fa-solid fa-plus"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}




          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block custom_footer_references %}
    <script src="{% static 'js/products.js' %}"></script>
{% endblock custom_footer_references %}