{% extends 'base.html' %}
{% load humanize %}
{% load products_tags %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}
    
{% partialdef single_product %}
  <!-- Product Card -->
  <div class="col-6 col-md-4">
  <div class="card product-card">
    <div class="card-body">
      {% if product.discount %}
        <!-- Badge--><span class="badge rounded-pill badge-warning">{{ product.discount }}%</span>
        {% else %}
          {% if product.created_at > old_time %}
            <!-- Badge--><span class="badge rounded-pill badge-warning"> فروش</span>
          {% endif %}
      {% endif %}      
      <!-- Wishlist Button--><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
      <!-- Thumbnail --><a class="product-thumbnail d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}"><img class="mb-2" src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}">
      <!-- Product Title --><a class="product-title d-block" href="{% url 'product_module:product_detail_page' slug=product.slug %}" alt="{{ product.name }}" title="{{ product.name }}">{{ product.name|truncatechars:17 }}</a>
      <!-- Product Price -->
      <p class="sale-price">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
      <!-- Rating -->
      {% show_rating_products rating=product.rating %}
      <!-- Add to Cart -->
      <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <button class="btn btn-success btn-sm" onclick="add_product_to_likes({{ product.id }})"><i class="fa-solid fa-plus"></i></button>
    </div>
  </div>
  </div>
{% endpartialdef single_product %}


{% block body %}

    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}

    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="{% url 'home_module:home_page' %}"><i class="fa-solid fa-arrow-right-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">{{ title_heading }}</h6>
        </div>
        <!-- Filter Option-->
        <div class="filter-option ms-2" data-bs-toggle="offcanvas" data-bs-target="#suhaFilterOffcanvas" aria-controls="suhaFilterOffcanvas"><i class="fa-solid fa-sliders"></i></div>
      </div>
    </div>
    <div class="offcanvas offcanvas-start suha-filter-offcanvas-wrap" tabindex="-1" id="suhaFilterOffcanvas" aria-labelledby="suhaFilterOffcanvasLabel">
      <!-- Close button-->
      <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <!-- Offcanvas body-->
      <div class="offcanvas-body py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Catagory-->
              <div class="widget catagory mb-4">
                <h6 class="widget-title mb-2">دسته بندی</h6>
                <div class="widget-desc">
                  {% for category in categories %}
                    <!-- Single Checkbox-->
                    <div class="form-check">
                      <input class="form-check-input" name='check_category' value="{{ category.url }}" type="checkbox" {% if category.url in checked_categories %}checked{% endif %}>
                      <label class="form-check-label">{{ category.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-12">
              <!-- brnad-->
              <div class="widget color mb-4">
                <h6 class="widget-title mb-2">برند</h6>
                <div class="widget-desc">
                  {% for brand in brands %}
                    <!-- Single Checkbox-->
                    <div class="form-check">
                      <input class="form-check-input" name='check_brand' value="{{ brand.url }}" type="checkbox" {% if brand.url in checked_brands %}checked{% endif %}>
                      <label class="form-check-label">{{ brand.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            
            {% if show_discount %}
            <div class="col-12">
                <div class="widget color mb-4">
                <h6 class="widget-title mb-2">تخفیف دار</h6>
                <div class="widget-desc">
                    <div class="form-check">
                      <input class="form-check-input" id='discounted' value="discounted" type="checkbox" {% if checked_discounted %} checked {% endif %}>
                      <label class="form-check-label">تخفیف</label>
                    </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="col-12">
              <!-- Ratings-->
              <div class="widget ratings mb-4">
                <h6 class="widget-title mb-2">امتیازات</h6>
                <div class="widget-desc">
                  <!-- Single Checkbox-->
                  <div class="form-check">
                    <input class="form-check-input" id="5star" type="radio" name="check_rating" value="5" {% if checked_ratings == '5' %} checked {% endif %}>
                    <label class="form-check-label" for="5star"><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i></label>
                  </div>
                  <!-- Single Checkbox-->
                  <div class="form-check">
                    <input class="form-check-input" id="4star" type="radio" name="check_rating" value="4" {% if checked_ratings == '4' %} checked {% endif %}>
                    <label class="form-check-label" for="4star"><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></label>
                  </div>
                  <!-- Single Checkbox-->
                  <div class="form-check">
                    <input class="form-check-input" id="3star" type="radio" name="check_rating" value="3" {% if checked_ratings == '3' %} checked {% endif %}>
                    <label class="form-check-label" for="3star"><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i></label>
                  </div>
                  <!-- Single Checkbox-->
                  <div class="form-check">
                    <input class="form-check-input" id="2star" type="radio" name="check_rating" value="2" {% if checked_ratings == '2' %} checked {% endif %}>
                    <label class="form-check-label" for="2star"><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i></label>
                  </div>
                  <!-- Single Checkbox-->
                  <div class="form-check">
                    <input class="form-check-input" id="1star" type="radio" name="check_rating" value="1" {% if checked_ratings == '1' %} checked {% endif %}>
                    <label class="form-check-label" for="1star"><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i><i class="fa-solid fa-star text-secondary"></i></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <!-- Price Range-->
              <div class="widget price-range mb-4">
                <h6 class="widget-title mb-2">حدود قیمت</h6>
                <div class="widget-desc">
                  <!-- Min Value-->
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="form-floating">
                        <input class="form-control" id="min_price_filter" type="text" placeholder="1" value="{{ min_price }}">
                        <label for="min_price_filter">پایین</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating">
                        <input class="form-control" id="max_price_filter" type="text" placeholder="1" value="{{ max_price }}">
                        <label for="max_price_filter">بالا</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <!-- Apply Filter-->
              <div class="apply-filter-btn"><button class="btn btn-success w-100" id="submit_price_filter">اعمال محدودیت</button></div>
              <br>
              <div class="apply-filter-btn"><button class="btn btn-danger w-100" id="delete_price_filter">حذف محدودیت</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="page-content-wrapper">
      <div class="py-3">
        <div class="container">
          <div class="row g-1 align-items-center rtl-flex-d-row-r">
            <div class="col-8">
              <!-- Product Catagories Slide -->
              <div class="product-catagories owl-carousel catagory-slides">
                {% for category in categories %}
                <a class="shadow-sm" href="{% url 'product_module:products_by_category_page' category_url=category.url%}"> {{ category.name }} <img src="{{ category.image.url }}" alt=""></a>
                {% endfor %}
              </div>
            </div>
            <div class="col-4">
              <!-- Select Product Catagory-->
              <div class="select-product-catagory">
                <select class="right small border-0" id="selectProductCatagory" name="selectProductCatagory" aria-label="Default select example">
                  <option selected>براساس</option>
                  <option>جدیدترین</option>
                  <option>قدیمی ترین</option>
                  <option>بیشترین قیمت</option>
                  <option>کمترین قیمت</option>
                  <option>بالاترین امتیاز</option>
                  <option>کم ترین امتیاز</option>
                  <option>پرفروش ترین</option>
                  <option>کم فروش ترین</option>
                  <option>تخفیف دار</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3"></div>
          <div class="row g-2 rtl-flex-d-row-r">
            {% for product in products %}
              {% partial single_product %}
            {% empty %}
              <div class="alert alert-warning">محصولی وجود ندارد</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block custom_footer_references %}
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/products_like.js' %}"></script>
{% endblock custom_footer_references %}