{% extends 'base.html' %}
{% load humanize %}
{% load products_tags %}
{% load static %}
{% load render_partial %}



{% block title %}
    مشخصات محصول
{% endblock title %}


{% block body %}
    {% if messages %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
      <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3500,
              gravity: "top",
              position: "right",
              backgroundColor: {% if message.tags == 'success' %}"#00920c"
              {% elif message.tags == 'info' %}"#0081cc"
              {% elif message.tags == 'warning' %}"#ce7e15"
              {% elif message.tags == 'error' %}"#c50000"
              {% endif %},
          }).showToast();
        {% endfor %}
      </script>
    {% endif %}

    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="{% url 'product_module:products_page' %}"><i class="fa-solid fa-arrow-right-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">مشخصات محصول {{ product.category.url }}</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler ms-2" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas">
          <div><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper">
      <div class="product-slide-wrapper">
        <!-- Product Slides-->
        <div class="product-slides owl-carousel">
          <!-- Single Hero Slide-->
              <div class="single-product-slide" style="background-image: url('{{ product.image.url }}')"></div>
              {% for item in product.product_images.all %}
                <div class="single-product-slide" style="background-image: url('{{ item.image.url }}')"></div>
              {% endfor %}
        {% comment %} <!-- Video Button--><a class="video-btn shadow-sm" id="singleProductVideoBtn" href="https://www.youtube.com/watch?v=lFGvqvPh5jI"><i class="fa-solid fa-play"></i></a> {% endcomment %}
      </div>
      <div class="product-description pb-3">
        <!-- Product Title & Meta Data-->
        <div class="product-title-meta-data bg-white mb-3 py-3">
          <div class="container d-flex justify-content-between rtl-flex-d-row-r">
            <div class="p-title-price">
              <h5 class="mb-1">{{ product.name }}</h5>
                <p class="sale-price mb-0 lh-1">{% if product.discount %}{{ product.discount|res_discount:product.price|intcomma }} تومان <span>{{ product.price|intcomma  }} تومان</span> {% else %}{{ product.price|intcomma }} تومان{% endif %}</p>
            </div>
              <input type="hidden" id="#csrf_t" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="p-wishlist-share"><a><i class="fa-solid fa-heart" onclick="add_product_to_likes({{ product.id }})"></i></a></div>
          </div>
          <!-- Ratings-->
          <div class="product-ratings">
            <div class="container d-flex align-items-center justify-content-end rtl-flex-d-row-r">

              {% if count_comments > 0 %}
                <div class="total-result-of-ratings"><span>امتیاز: </span><span>{{ rating }}</span></div>
              {% else %}
                <p><span>امتیازی وجود ندارد</span></p>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Selection Panel-->
        <div class="selection-panel bg-white mb-3 py-3">
          <div class="container d-flex align-items-center justify-content-between">
            <!-- Choose Color-->
            <div class="choose-color-wrapper">
              {% for key, values in colors.items %}
                  <p class="mb-1 font-weight-bold">رنگ</p>
              <div class="choose-color-radio d-flex align-items-center">
                {% for value in values %}
                  <!-- Single Radio Input-->
                  <div class="form-check mb-0 me-2">
                  <input class="form-check-input" id="colorRadio1" type="radio" name="colorRadio" value="{{ value }}" onclick="get_stock({{ product.id }})">
                  <label class="form-check-label" for="colorRadio1">{{ value }}</label>
                  </div>
                {% endfor %}
              {% endfor %}
              </div>
            </div>
            <!-- Choose Size-->
            <div class="choose-size-wrapper text-end">
                 {% for key, values in sizes.items %}
                  <p class="mb-1 font-weight-bold text-start">سایز</p>
                  <div class="choose-size-radio d-flex align-items-center">
                    {% for value in values %}
                      <!-- Single Radio Input-->
                    <div class="form-check mb-0 me-2">
                    <input class="form-check-input" id="sizeRadio1" type="radio" name="sizeRadio" value="{{ value }}" onclick="get_stock({{ product.id }})">
                    <label class="form-check-label" for="sizeRadio1">{{ value }}</label>
                    </div>
                    {% endfor %}
                 {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- Add To Cart-->
        <div class="cart-form-wrapper bg-white mb-3 py-3">
          <div class="container">
            <form class="cart-form" action="#" method="">
              <div class="order-plus-minus d-flex align-items-center">
                <div class="quantity-button-handler">-</div>
                <input class="form-control cart-quantity-input" id="add_order_stock" type="text" step="1" name="quantity" value="1">
                <div class="quantity-button-handler">+</div>
              </div>
              <input type="hidden" type="number" value='{{ product.id }}' id="product_id_for_add_in_order">
              <button class="btn btn-danger ms-3" onclick="add_product_in_order()" type="button">به سبد خرید اضافه کنید</button>
            </form>
            <div class="mt-2 mb-0">
              <p id="all_stock_product_">موجودی کل: <span>{{ stock }}</span></p>
              <p id="price_product"><span></span></p>
            </div>
          </div>
        </div>
        <!-- Product Specification-->
        <div class="p-specification bg-white mb-3 py-3">
          <div class="container">
            <h6>توضیحات و مشخصات</h6>
            {{ product.description }}
          </div>
        </div>
        <div class="pb-3"></div>
        {% related_products_for_detail_page brand=product.brand.url category=product.category.url %}
        <!-- Rating & Review Wrapper -->
        <div class="rating-and-review-wrapper bg-white py-3 mb-3 dir-rtl">
          <div class="container">
            <h6 id="count_comments_product">نظرات محصول({{ count_comments }})</h6>
            <div class="rating-review-content">
              <ul class="ps-0" id="list_comment">
                {% render_partial 'comment_module.views.comments_product' product_id=product.id %}
              </ul>
            </div>
          </div>
        </div>
        <!-- Ratings Submit Form-->
        <div class="ratings-submit-form bg-white py-3 dir-rtl">
          <div class="container">
            <h6>ارسال یک بررسی</h6>
              <input class="form-control mb-3 px-3" type="number" id="comment_rating" max="5" min="0" placeholder="امتیاز خود را به این محصول از 1 تا 5 وارد کنید">
              <textarea class="form-control mb-3" id="comments" name="comment" cols="30" rows="10" data-max-length="200" placeholder="بررسی خود را بنویسید..."></textarea>
              <input type="hidden" type="number" value='{{ product.id }}' id="product_id_send_comment">
              <button class="btn btn-primary" type="submit" onclick="send_comment()">ارسال نظر</button>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block custom_footer_references %}
    <script src="{% static 'js/product_detail.js' %}"></script>
    <script src="{% static 'js/products_like.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
{% endblock custom_footer_references %}